$primaryLineWidth: 1.4px;
$leftColWidth: 33vw;
$rightColWidth: 67vw;
$backgroundColour: white;
$tickerDuration: 10s;

// colours
$primaryTextColour: black;
$hoverColour: rgba(239, 59, 59, 0.705);

// sizes
$navLinkSize: 23px;
$navHeight: 57px;
$pageHeight: calc(100vh - 57px);

// footer
$footerHeight: 57px;
$contactHeight: 100px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
