$primaryLineWidth: 1px;
$leftColWidth: 30vw;
$rightColWidth: 70vw;

// colours
$primaryTextColour: black;
$hoverColour: rgba(239, 59, 59, 0.705);

// sizes
$navLinkSize: 23px;
$navHeight: 50px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
