@import './_include-media.scss';

$primaryLineWidth: 1px;
$leftColWidth: 35vw;
$rightColWidth: 65vw;
$backgroundColour: rgb(255, 255, 255);
$tickerDuration: 10s;

// colours
$primaryTextColour: black;
$hoverColour: rgba(239, 59, 59, 0.705);

// sizes
$navLinkSize: 23px;
$navHeight: 50px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
